section#blog{
    padding-bottom: 50px;
    .col-md-6{
        margin-bottom: 50px;
    }
    .background {
        height: 120px;
    } 
    .post{
        h1{
            height: 48px;
            margin-top: 0;
        }
        .description{
            text-align: justify;
            min-height: 100px;
        }
        .btn{
            float: right;
        }
    }    
}
// Small devices specific rules
@media (max-width: @screen-sm-max) {
    section#blog{
        .post{
            h1{
                margin-top: 15px;
            }
            .description{
                min-height: 0;
            }
            .btn{
                float: none;
            }
        }  
    }
}