section#blog{
    padding-bottom: 50px;
    min-height: 70vh;
    .background {
        height: 200px;
    }
    .post{
        padding-bottom: 50px;
        h4{
            font-size: 22px;
            min-height: 32px;
            margin-top: 0;
        }
        .col-md-7{
            border-bottom: 1px solid @bluegrey-500;
            padding-bottom: 15px;
            .description{
                min-height: 100px;
            }
        }
    }    
}
// Small devices specific rules
@media (max-width: @screen-sm-max) {
    section#blog{
        .post{
            h4{
                margin-top: 15px;
            }
            .description{
                min-height: 0;
                p{
                    margin: 0;
                }
            }
        }  
    }
}