section#banner.carousel{
    .background{
        height: 70vh;
        .content--wrapper.background{
            background-size: cover;
        }
    }
    .content{
        h1,h2{
            padding-bottom: 15px;
            &.black{
                color: black;
            }
        }
        h1{
            font-size: 32px;
        }
    }
    .content--wrapper{
        text-align: center;
        width: 100%;
    }
    .col-md-6{
        h1,h2{
            text-align: left;
        }
        .btn{
            float: left;
        }
    }
    .col-md-12{
        text-align: center;
        margin: 0 auto;
    }
    .highlight-img{
        max-height: 20vh;
        margin: 0 auto;
    }
    .secondary-img{
        max-height: 20vh;
        margin: 0 auto;
    }
}
section#categories{
    padding-top: 100px;
    .col-md-12{
        margin-bottom: 15px;
    }
    h3{
        font-size: 14px;
        text-align: center;
        height: 36px;
        padding-top: 10px;
    }
    .background{
         height: 150px;
     }
}
section#feed{
    padding-top: 100px;
    padding-bottom: 50px;
    .background {
        height: 200px;
    }
    h3{
        font-size: 22px;
        min-height: 32px;
        margin-top: 0;
    }
    .description{
        min-height: 100px;
    }
    .post{
        padding-bottom: 50px;
    }
}
// Small and extra-small devices specific rules
@media (max-width: @screen-sm-max) {
    section#banner.carousel{
        .background{
            height: 100vh;
        }
        .col-md-6{
            h1,h2{
                text-align: center;
            }
            .btn{
                float: none;
            }
        }
    }
    section#categories{
        .area{
            h1,h2{
                padding: 0;
                text-align: center;
                color: white;
            }
            h1{
                font-size: 22px;
            }
            h2{
                font-size: 16px;
                font-weight: 300;
                line-height: 21px;
            }
        }
        .col-md-3{
            .background{
                height: 33vh;
            }
        }
    }
    section#feed{
        .post{
            h3{
                margin-top: 15px;
                text-align: center;
            }
            .description{
                min-height: 0;
                p{
                    margin: 0;
                }
            }
        }  
    }
}