section#banner.carousel{
    .background{
        height: 70vh;
        .content--wrapper.background{
            background-size: cover;
        }
        &.white{
            background-image: -webkit-linear-gradient(bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
            background-image: -o-linear-gradient(bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
            background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
        }
        &.black{
            background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
            background-blend-mode: multiply;
        }
        &.blue{
           background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
        }
    }
    .content{
        h1,h2{
            padding-bottom: 15px;
            &.black{
                color: black;
            }
        }
        h1{
            font-size: 32px;
        }
        h2{
            font-size: 14px;
            line-height: 1.8;
        }
    }
    .content--wrapper{
        text-align: center;
        width: 100%;
    }
    .col-md-6{
        h1,h2{
            text-align: left;
        }
        .btn{
            float: left;
        }
    }
    .col-md-12{
        text-align: center;
        margin: 0 auto;
        h1,h2{
            text-align: center;
        }
    }
    .highlight-img{
        max-height: 20vh;
        margin: 0 auto;
    }
    .secondary-img{
        max-height: 20vh;
        margin: 0 auto;
    }
    .black{
        color: black;
    }
    .white{
        color: white;
    }
    .blue{
        color: @indigo-500;
    }
}
section#feed{
    padding-top: 50px;
    .col-md-12{
        margin-bottom: 15px;
        text-align: center;
    }
    h1{
        margin-top:0;
    }
    .description{
        text-align: justify;
    }
    .facetwp-template{
        .col-md-6{
            min-height: 250px;
            &.hidden-xs{
                h1{
                    text-align: left;
                }
            }
        }
    }
}
section#feed{
    padding-top: 50px;
    .col-md-12{
        margin-bottom: 15px;
        text-align: center;
    }
    h1{
        margin-top:0;
    }
    .description{
       text-align: justify;
       height: 100px;
    }
    .facetwp-template{
        .col-md-6{
            &.hidden-xs{
                h1{
                    text-align: left;
                }
            }
        }
    }
}
section#categories{
    padding-top: 50px;
    .col-md-12{
        margin-bottom: 15px;
        text-align: center;
    }
    h2{
        font-weight: 200;
        margin-top:0;
    }
    .col-md-2{
         h1{
            font-size: 14px;
            text-align: center;
            height: 36px;
         }
     }
    .background{
         height: 120px;
     }
}
// Small and extra-small devices specific rules
@media (max-width: @screen-sm-max) {
    section#feed{
        .facetwp-template .col-md-12{
            .btn{
                float: none;
                border-radius: 0;
                margin: 0;
                width: 100%;
            }
        }
    }
    section#banner.carousel{
        .content{
            h1{
                font-size: 32px;
            }
        }
        .background{
            height: 100vh;
        }
        .col-md-6{
            h1,h2{
                text-align: center;
            }
            .btn{
                float: none;
            }
        }
    }
    section#categories{
        .area{
            h1,h2{
                padding: 0;
                text-align: center;
                color: white;
            }
            h1{
                font-size: 22px;
            }
            h2{
                font-size: 16px;
                font-weight: 300;
                line-height: 21px;
            }
        }
        .col-md-3{
            .background{
                height: 33vh;
            }
        }
    }
}