.card{
    margin-bottom: 50px;
    background-color: white;
    box-shadow: @box-shadow;
    h1{
        padding: 15px;
        height: 60px;
        margin: 0;
    }
    .description{
        text-align: justify;
        padding: 15px 15px 0;
        height: 150px;
    }
    .background{
         height:120px;
    }
    .btn{
         margin:15px;
    }
    .share{
        float: right;
        margin: 15px;
        img{
            height: 32px;
        }
    }
}
.post{
    .col-md-4.background{
        height: 120px;
    }
    h1{
        font-size: 15px;
    }
    .share{
        float: right;
        img{
            height: 32px;
        }
    }
    a{
        color: @blue-700;
    }
    a:hover{
        color: @indigo-500;
        text-decoration: none;
    }
    .btn{
        float: right;
    }
}