.card{
    margin-bottom: 50px;
    background-color: white;
    box-shadow: @box-shadow;
    h1{
        padding: 15px;
        min-height: 32px;
        margin: 0;
    }
    .description{
        padding: 15px 15px 0;
        height: 210px;
    }
    .background{
         height:120px;
    }
    .btn{
         margin:15px;
    }
    .share{
        float: right;
        margin: 15px;
        img{
            height: 32px;
        }
    }
}
.post{
    .col-md-4.background{
        height: 120px;
    }
    h1{
        font-size: 15px;
    }
    .btn{
        float: right;
    }
    .share{
        float: right;
        img{
            height: 32px;
        }
    }
}
@media (max-width: @screen-sm-max) {
    .post{
        .btn{
            float: none;
        }
    }
}