.serif(){
    font-family: "adobe-text-pro", serif;
}
.heading-font(){
    font-family: "myriad-pro", sans-serif;
}
*, body{
    font-size: 16px;
    .heading-font();
    .screen-sm({
        font-size: 18px;
    });
}
p {
    .serif();
    margin: 0 0 30px;
    line-height: 30px;
    > a,b,em,u,strong,i{
        .serif();
    }
}
a{
    color: @blue-a200;
}
a:hover{
    color: @indigo-500;
}
h1, h2, h3, h4, h5, h6{
    .heading-font();
    font-style: normal;
    letter-spacing: 1px;
    &.uppercase{
        text-transform: uppercase;
    }
}
h1{
    font-size: 24px;
    font-weight: 900;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 14px;
}
h5{
    font-size: 12px;
}
h6{
    font-size: 10px;
}